streamlit==1.25.0
pandas==2.0.3
requests==2.31.0
beautifulsoup4==4.13.0
emoji==2.8.0
nltk==3.8.1
matplotlib==3.8.0
plotly==5.16.0
concurrent.futures  # Standard library module, generally not needed in requirements.txt
wordcloud==1.9.2
googletrans==4.0.0-rc1  # Translator module may need googletrans==4.0.0-rc1
lxml
